@-webkit-keyframes html-grow {
  form {
    width: 0%;
  }
  to {
    width: 88%;
  }
}

@keyframes html-grow {
  form {
    width: 0%;
  }
  to {
    width: 88%;
  }
}

@-webkit-keyframes css-grow {
  form {
    width: 0%;
  }
  to {
    width: 73%;
  }
}

@keyframes css-grow {
  form {
    width: 0%;
  }
  to {
    width: 73%;
  }
}

@-webkit-keyframes js-grow {
  form {
    width: 0%;
  }
  to {
    width: 51%;
  }
}

@keyframes js-grow {
  form {
    width: 0%;
  }
  to {
    width: 51%;
  }
}

@-webkit-keyframes react-grow {
  form {
    width: 0%;
  }
  to {
    width: 66%;
  }
}

@keyframes react-grow {
  form {
    width: 0%;
  }
  to {
    width: 66%;
  }
}

@-webkit-keyframes boots-grow {
  form {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes boots-grow {
  form {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes ui-grow {
  form {
    width: 0%;
  }
  to {
    width: 45%;
  }
}

@keyframes ui-grow {
  form {
    width: 0%;
  }
  to {
    width: 45%;
  }
}

@-webkit-keyframes bg-pos {
  0% {
    background-position: right;
  }
  50% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-pos {
  0% {
    background-position: right;
  }
  50% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@-webkit-keyframes elcopy-am {
  from {
    width: 37vw;
  }
  to {
    width: 68vw;
  }
}

@keyframes elcopy-am {
  from {
    width: 37vw;
  }
  to {
    width: 68vw;
  }
}

@-webkit-keyframes description-width {
  0% {
    width: 0vw;
    height: 0vh;
  }
  25% {
    width: 36vw;
    height: 0vh;
  }
  75% {
    width: 36vw;
    height: auto;
  }
  100% {
    width: 36vw;
    height: auto;
  }
}

@keyframes description-width {
  0% {
    width: 0vw;
    height: 0vh;
  }
  25% {
    width: 36vw;
    height: 0vh;
  }
  75% {
    width: 36vw;
    height: auto;
  }
  100% {
    width: 36vw;
    height: auto;
  }
}

@-webkit-keyframes description-width-mobile {
  0% {
    height: 0vh;
    opacity: 0%;
  }
  40% {
    height: 0vh;
    opacity: 0%;
  }
  80% {
    height: auto;
    opacity: 0%;
  }
  90% {
    height: auto;
    opacity: 100%;
  }
}

@keyframes description-width-mobile {
  0% {
    height: 0vh;
    opacity: 0%;
  }
  40% {
    height: 0vh;
    opacity: 0%;
  }
  80% {
    height: auto;
    opacity: 0%;
  }
  90% {
    height: auto;
    opacity: 100%;
  }
}

@-webkit-keyframes image-width {
  0% {
    width: 0vw;
  }
  50% {
    width: 0vw;
  }
  100% {
    width: 20vw;
  }
}

@keyframes image-width {
  0% {
    width: 0vw;
  }
  50% {
    width: 0vw;
  }
  100% {
    width: 20vw;
  }
}

@-webkit-keyframes image-width-mobile {
  0% {
    height: 0vh;
  }
  50% {
    height: 0vh;
  }
  100% {
    height: 26vh;
  }
}

@keyframes image-width-mobile {
  0% {
    height: 0vh;
  }
  50% {
    height: 0vh;
  }
  100% {
    height: 26vh;
  }
}

@-webkit-keyframes btn-height {
  0% {
    height: 0vh;
    margin-top: 0vh;
  }
  50% {
    height: 0vh;
    margin-top: 0vh;
  }
  100% {
    height: 4.1vh;
    margin-top: 4vh;
  }
}

@keyframes btn-height {
  0% {
    height: 0vh;
    margin-top: 0vh;
  }
  50% {
    height: 0vh;
    margin-top: 0vh;
  }
  100% {
    height: 4.1vh;
    margin-top: 4vh;
  }
}

@-webkit-keyframes btn-height-mobile {
  0% {
    height: 0vh;
    margin: 0vh 0vh 0vh;
  }
  50% {
    height: 0vh;
    margin: 0vh 0vh 0vh;
  }
  100% {
    height: 4.1vh;
    margin: 6vh 0vh 4vh;
  }
}

@keyframes btn-height-mobile {
  0% {
    height: 0vh;
    margin: 0vh 0vh 0vh;
  }
  50% {
    height: 0vh;
    margin: 0vh 0vh 0vh;
  }
  100% {
    height: 4.1vh;
    margin: 6vh 0vh 4vh;
  }
}

@-webkit-keyframes span-height {
  0% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes span-height {
  0% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes name-margin {
  0% {
    margin-bottom: 0vh;
    font-size: 3.5vh;
  }
  50% {
    margin-bottom: 0vh;
    font-size: 2.2vh;
  }
  100% {
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
}

@keyframes name-margin {
  0% {
    margin-bottom: 0vh;
    font-size: 3.5vh;
  }
  50% {
    margin-bottom: 0vh;
    font-size: 2.2vh;
  }
  100% {
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
}

@-webkit-keyframes description-width-rv {
  0% {
    width: 36vw;
    height: 5vh;
  }
  25% {
    width: 36vw;
    height: 5vh;
  }
  75% {
    width: 36vw;
    height: 0vh;
  }
  100% {
    width: 0vw;
    height: 0vh;
  }
}

@keyframes description-width-rv {
  0% {
    width: 36vw;
    height: 5vh;
  }
  25% {
    width: 36vw;
    height: 5vh;
  }
  75% {
    width: 36vw;
    height: 0vh;
  }
  100% {
    width: 0vw;
    height: 0vh;
  }
}

@-webkit-keyframes description-width-mobile-rv {
  10% {
    height: auto;
    opacity: 100%;
  }
  20% {
    height: auto;
    opacity: 0%;
  }
  60% {
    height: 0vh;
    opacity: 0%;
  }
  100% {
    height: ovh;
    opacity: 0%;
  }
}

@keyframes description-width-mobile-rv {
  10% {
    height: auto;
    opacity: 100%;
  }
  20% {
    height: auto;
    opacity: 0%;
  }
  60% {
    height: 0vh;
    opacity: 0%;
  }
  100% {
    height: ovh;
    opacity: 0%;
  }
}

@-webkit-keyframes image-width-rv {
  0% {
    width: 20vw;
  }
  50% {
    width: 0vw;
  }
  100% {
    width: 0vw;
  }
}

@keyframes image-width-rv {
  0% {
    width: 20vw;
  }
  50% {
    width: 0vw;
  }
  100% {
    width: 0vw;
  }
}

@-webkit-keyframes image-width-mobile-rv {
  0% {
    height: 26vh;
  }
  50% {
    height: 0vh;
  }
  100% {
    height: 0vh;
  }
}

@keyframes image-width-mobile-rv {
  0% {
    height: 26vh;
  }
  50% {
    height: 0vh;
  }
  100% {
    height: 0vh;
  }
}

@-webkit-keyframes btn-height-rv {
  0% {
    height: 4.1vh;
    margin-top: 4vh;
  }
  50% {
    height: 0vh;
    margin-top: 0vh;
  }
  100% {
    height: 0vh;
    margin-top: 0vh;
  }
}

@keyframes btn-height-rv {
  0% {
    height: 4.1vh;
    margin-top: 4vh;
  }
  50% {
    height: 0vh;
    margin-top: 0vh;
  }
  100% {
    height: 0vh;
    margin-top: 0vh;
  }
}

@-webkit-keyframes btn-height-mobile-rv {
  0% {
    height: 4.1vh;
    margin: 6vh 0vh 4vh;
  }
  50% {
    height: 0vh;
    margin: 0vh 0vh 0vh;
  }
  100% {
    height: 0vh;
    margin: 0vh 0vh 0vh;
  }
}

@keyframes btn-height-mobile-rv {
  0% {
    height: 4.1vh;
    margin: 6vh 0vh 4vh;
  }
  50% {
    height: 0vh;
    margin: 0vh 0vh 0vh;
  }
  100% {
    height: 0vh;
    margin: 0vh 0vh 0vh;
  }
}

@-webkit-keyframes span-height-rv {
  0% {
    opacity: 100%;
  }
  15% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes span-height-rv {
  0% {
    opacity: 100%;
  }
  15% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes name-margin-rv {
  0% {
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  50% {
    margin-bottom: 0vh;
    font-size: 2.2vh;
  }
  100% {
    margin-bottom: 0vh;
    font-size: 3.5vh;
  }
}

@keyframes name-margin-rv {
  0% {
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  50% {
    margin-bottom: 0vh;
    font-size: 2.2vh;
  }
  100% {
    margin-bottom: 0vh;
    font-size: 3.5vh;
  }
}

@-webkit-keyframes get-short {
  0% {
    height: 76vh;
  }
  50% {
    height: 76vh;
  }
  100% {
    height: 38vh;
  }
}

@keyframes get-short {
  0% {
    height: 76vh;
  }
  50% {
    height: 76vh;
  }
  100% {
    height: 38vh;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.bg {
  position: absolute;
  font-size: 20vw;
  top: -5vw;
  left: -7vw;
  font-weight: 600;
  z-index: 0;
}

h2 {
  font-size: 6.5vh;
  font-weight: 500;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 12.2vw;
  margin-top: 20vh;
  z-index: 1;
}

.welcome {
  height: 100vh;
  background-image: linear-gradient(-55deg, #00e5ff 0%, #ff3fec 21%, #e146f3 32%, #e477ff 38%, #ca4bf8 44%, #ac51fe 59%, #2f327b 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .profile-pic {
  width: 27vh;
  height: 27vh;
  border-radius: 15vh;
  overflow: hidden;
  margin-left: 12vw;
}

.welcome .profile-pic img {
  height: 105%;
}

.welcome .info {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-right: 12.2vw;
  margin-left: 10vw;
}

.welcome .info p {
  font-size: 2.7vh;
  font-weight: 500;
}

.welcome .info p:nth-child(3) {
  margin-top: 5vh;
  font-size: 2.1vh;
}

.welcome .info h1 {
  font-weight: 500;
  font-size: 8vh;
  margin-top: -1%;
}

.welcome header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.5vh;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0vw 12.2vw;
}

.welcome header a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2.1vh;
  font-weight: 400;
}

.welcome header .menu-button {
  display: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2.1vh;
  font-weight: 400;
}

.welcome header > i {
  display: none;
}

.welcome header .socials-btn {
  cursor: pointer;
}

.welcome header .js-socials {
  position: absolute;
  right: 12.2vw;
  height: 6vh;
  border-radius: 3vh;
  width: 20vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome header .js-socials .social {
  background-color: green;
  height: 4.6vh;
  width: 4.6vh;
  border-radius: 2.3vh;
  overflow: hidden;
}

.welcome header .js-socials .social img {
  height: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -92.5vh;
  z-index: 99;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #616161;
  font-style: italic;
  overflow: hidden;
  padding-bottom: 40vh;
}

.about .bg {
  color: rgba(250, 250, 250, 0.75);
}

.about .about-text {
  width: 60vw;
  font-size: 2.8vh;
  font-weight: 300;
  margin-top: 2vh;
  margin-right: 3vw;
  z-index: 1;
  text-align: justify;
}

.about .wont-fail {
  text-decoration: none;
  font-weight: 600;
  font-style: italic;
  background: -webkit-linear-gradient(-45deg, #BB00FF, #FF0F87, #1DBBFF, #AF36FF, #4DE2FF, #5E63FF, #C156FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 700%;
  -webkit-animation: bg-pos 8s infinite linear;
          animation: bg-pos 8s infinite linear;
}

.about .wont-fail::after {
  content: url("./img/Group 13.svg");
  position: absolute;
  margin-top: 4vh;
  margin-left: -6vh;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.experience {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #616161;
  font-style: italic;
  background-color: #fafafa;
  overflow-x: hidden;
  padding-bottom: 20vh;
}

.experience .bg {
  color: rgba(255, 255, 255, 0.75);
}

.experience .experience-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (13vh)[3];
      grid-template-rows: repeat(3, 13vh);
  grid-auto-flow: column;
  width: 74.4vw;
  margin-top: 8.5vh;
  margin-bottom: 10vh;
  z-index: 1;
}

.experience .xp-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.8vh;
  padding-left: 2.6vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
}

.experience .xp-card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4vw;
  margin-right: 2vw;
}

.experience .xp-card .info .name {
  font-size: 1.3vh;
  font-weight: 600;
  margin-bottom: 0.2vh;
}

.experience .xp-card .info .icon {
  height: 6.6vh;
  width: 6.6vh;
  border-radius: 2.3vh;
  overflow: hidden;
}

.experience .xp-card .info .icon img {
  height: 100%;
}

.experience .xp-card .progress-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1vh;
  background-color: white;
  margin-top: 1.5vh;
  border-radius: 0.5vh;
}

.experience .xp-card .progress-bar .progress {
  width: 0%;
  height: 100%;
  border-radius: 0.5vh;
}

.experience .xp-card .percentage-box {
  margin: 0vh 2vw;
  width: 4vw;
  height: 2vh;
  text-align: center;
}

.experience .xp-card .percentage-box .percentage {
  font-size: 1.9vh;
}

.experience .probably {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2vh;
  font-style: normal;
  font-weight: 500;
  color: #979797;
  z-index: 1;
}

.experience .xp-btn {
  margin-top: 6vh;
  width: 14vh;
  height: 3.7vh;
  font-size: 1.7vh;
  border: none;
  border-radius: 0.7vh;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #20B7C9;
  cursor: pointer;
  z-index: 1;
}

.modal-det {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 3;
}

.modal-det .modal-content {
  margin-top: 4%;
  width: 80vw;
  height: 80vh;
  background-color: white;
  border-radius: 0.8vh;
  position: relative;
  padding: 5vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-det .modal-content i {
  font-size: 3.5vh;
  position: absolute;
  top: 3.2vh;
  right: 4vh;
  color: #12737e;
  cursor: pointer;
}

.modal-det .modal-content .quote h2 {
  font-size: 4vh;
  padding-bottom: 3.5vh;
  border-bottom: 1px solid #000000;
  font-family: 'DM Serif Display', serif;
}

.modal-det .modal-content .quote p {
  font-size: 2vh;
  float: right;
  font-family: 'DM Serif Display', serif;
  font-style: italic;
 }

.modal-det .modal-content .exp-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (19vh)[3];
      grid-template-rows: repeat(3, 19vh);
  grid-auto-flow: column;
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
  row-gap: 3vh;
}

.modal-det .modal-content .exp-container .exp-info {
  margin: auto 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.83vw;
}

.modal-det .modal-content .exp-container .exp-info .exp-name {
  margin-bottom: 2vh;
  font-size: 0.95vw;
  font-weight: 600;
  color: #12737e;
}

.work {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #616161;
  font-style: italic;
  background-color: white;
  padding-bottom: 20vh;
}

.work .bg {
  color: rgba(250, 250, 250, 0.75);
  z-index: 0;
}

.work h2 {
  z-index: 1;
}

.work .categories {
  width: 68vw;
  height: 5.5vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1vh;
  margin-top: 11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4vh;
  z-index: 1;
}

.work .categories .cat-1 {
  color: white;
  font-size: 1.9vh;
  font-style: normal;
  font-weight: 300;
  cursor: pointer;
}

.work .works {
  width: 68vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.work .works .mywork {
  width: 34vw;
  height: 38vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3vh;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .works .mywork .w-name {
  font-size: 3.5vh;
}

.work .works .mywork .w-description {
  display: none;
}

.work .works .mywork .demo {
  display: none;
}

.work .works .mywork img {
  display: none;
}

.work .works .card-active {
  height: 76vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 12vh 6vw 2vh;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.work .works .card-active .w-name {
  margin-bottom: 2vh;
  -webkit-animation: name-margin 0.8s linear;
          animation: name-margin 0.8s linear;
  font-size: 2.2vh;
}

.work .works .card-active .w-info {
  height: 38vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work .works .card-active .w-description {
  width: 56vw;
  display: block;
  text-align: center;
  font-size: 2.1vh;
  -webkit-animation: description-width-mobile 1s linear;
          animation: description-width-mobile 1s linear;
}

.work .works .card-active a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-family: 'Montserrat' sans-serif;
}

.work .works .card-active .demo {
  width: 12vh;
  height: 4.1vh;
  border: none;
  border-radius: 1vh;
  font-size: 1.8vh;
  color: #292929;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6vh 0vh 4vh;
  -webkit-animation: btn-height-mobile 0.8s linear;
          animation: btn-height-mobile 0.8s linear;
}

.work .works .card-active .demo p {
  -webkit-animation: span-height 1s linear;
          animation: span-height 1s linear;
}

.work .works .card-active .w-pic {
  max-width: 42vh;
  height: 25vh;
  overflow: hidden;
  -webkit-animation: image-width-mobile 0.8s linear;
          animation: image-width-mobile 0.8s linear;
}

.work .works .card-active .w-pic img {
  display: block;
  width: 100%;
}

.work .works .leavin-mob {
  width: 38vh;
  -webkit-animation: get-short 0.8s linear;
          animation: get-short 0.8s linear;
}

.work .works .leavin-mob .w-name {
  -webkit-animation: name-margin-rv 0.8s linear;
          animation: name-margin-rv 0.8s linear;
}

.work .works .leavin-mob .w-info {
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.work .works .leavin-mob .w-description {
  -webkit-animation: description-width-mobile-rv 0.8s linear;
          animation: description-width-mobile-rv 0.8s linear;
}

.work .works .leavin-mob .demo {
  -webkit-animation: btn-height-mobile-rv 0.8s linear;
          animation: btn-height-mobile-rv 0.8s linear;
}

.work .works .leavin-mob .demo p {
  -webkit-animation: span-height-rv 1.2s linear;
          animation: span-height-rv 1.2s linear;
}

.work .works .leavin-mob .w-pic {
  -webkit-animation: image-width-mobile-rv 0.8s linear;
          animation: image-width-mobile-rv 0.8s linear;
}

.work .works .elcopy {
  width: 34vw;
  height: 38vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3vh 0vw;
  -webkit-animation: elcopy-am 0.4s linear;
          animation: elcopy-am 0.4s linear;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.work .works .elcopy .w-name {
  font-size: 2.2vh;
  margin-bottom: 2vh;
  -webkit-animation: name-margin 0.8s linear;
          animation: name-margin 0.8s linear;
}

.work .works .elcopy .w-info {
  width: 36vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
  margin: 0vh 2vw;
}

.work .works .elcopy .w-description {
  font-size: 1.7vh;
  width: 36vw;
  overflow: hidden;
  -webkit-animation: description-width 0.8s linear;
          animation: description-width 0.8s linear;
}

.work .works .elcopy a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-family: 'Montserrat' sans-serif;
}

.work .works .elcopy .demo {
  width: 12vh;
  height: 4.1vh;
  border: none;
  border-radius: 1vh;
  font-size: 1.8vh;
  color: #292929;
  -webkit-animation: btn-height 0.8s linear;
          animation: btn-height 0.8s linear;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4vh;
}

.work .works .elcopy .demo p {
  -webkit-animation: span-height 1s linear;
          animation: span-height 1s linear;
}

.work .works .elcopy .w-pic {
  width: 22vw;
  height: 26vh;
  background-color: black;
  -webkit-animation: image-width 0.8s linear;
          animation: image-width 0.8s linear;
  overflow: hidden;
  margin: 0vw 2vw;
}

.work .works .elcopy .w-pic img {
  height: 100%;
}

.work .works .leavin .w-name {
  -webkit-animation: name-margin-rv 0.8s linear;
          animation: name-margin-rv 0.8s linear;
}

.work .works .leavin .w-info {
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.work .works .leavin .w-description {
  -webkit-animation: description-width-rv 0.8s linear;
          animation: description-width-rv 0.8s linear;
}

.work .works .leavin .demo {
  -webkit-animation: btn-height-rv 0.8s linear;
          animation: btn-height-rv 0.8s linear;
}

.work .works .leavin .demo p {
  -webkit-animation: span-height-rv 1s linear;
          animation: span-height-rv 1s linear;
}

.work .works .leavin .w-pic {
  -webkit-animation: image-width-rv 0.8s linear;
          animation: image-width-rv 0.8s linear;
}

.work .works .wrk-1 {
  background: radial-gradient(#58B0E3, #4385AC);
}

.work .works .wrk-2 {
  background: radial-gradient(#E358D5, #AA429F);
}

.work .works .wrk-3 {
  background: radial-gradient(#E3D058, #A69840);
}

.work .works .wrk-4 {
  background: radial-gradient(#8258E3, #6041A8);
}

.work .works .wrk-5 {
  background: radial-gradient(#cf7fb7, #a00071);
}

.work > p:nth-of-type(2) {
  margin-top: 15vh;
  margin-bottom: 3vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 2vh;
  font-weight: 500;
  color: #616161;
}

.work > p:nth-of-type(3) {
  margin-top: 5vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 6vh;
  font-weight: 600;
  color: #20B7C9;
  text-shadow: 2px 2px 0px #F6FF00;
}

.work .divider-hr {
  width: 5vw;
  height: 1px;
  background-color: rgba(112, 112, 112, 0.5);
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #616161;
  overflow-x: hidden;
  background-color: #fafafa;
  padding: 0vh 12.2vw 40vh;
}

.contact h2 {
  margin-left: 0vw;
}

.contact .bg {
  color: rgba(255, 255, 255, 0.75);
}

.contact .both-sides {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60vh;
}

.contact .c-left {
  border-right: 1px solid #707070;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.contact .c-left .question {
  color: rgba(97, 97, 97, 0.8);
  margin-top: 6vh;
  font-size: 2vh;
  font-weight: 500;
}

.contact .c-left .cta-text {
  font-size: 3vh;
  font-weight: 800;
  color: #5269FF;
  margin-top: 4vh;
  margin-bottom: 2vh;
  text-shadow: 2px 2px 0px #F7FF00;
}

.contact .c-left a {
  display: block;
  text-decoration: none;
  color: #5269FF;
  font-weight: 400;
}

.contact .c-right {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 6.1vw;
}

.contact .c-right > p {
  font-size: 2vh;
  margin-bottom: 4vh;
  margin-top: -5vh;
}

.contact .c-right a {
  text-decoration: none;
}

.contact .c-right .social-box {
  height: 8vh;
  width: 15vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .c-right .social-box .icon {
  height: 6vh;
  width: 6vh;
  border-radius: 3.5vh;
  overflow: hidden;
  position: absolute;
  left: 0vw;
  border: 2px solid;
  background-position: center;
  background-size: 90%;
}

.contact .c-right .social-box .i-fb {
  background-image: url(./img/fb.png);
  border-color: #3C5A99;
}

.contact .c-right .social-box .i-insta {
  background-image: url(./img/insta.png);
  border-color: #E02A9C;
}

.contact .c-right .social-box .i-git {
  background-image: url(./img/git.png);
  border-color: black;
}

.contact .c-right .social-box .fb {
  background-color: #3C5A99;
}

.contact .c-right .social-box .insta {
  background-color: #E02A9C;
}

.contact .c-right .social-box .git {
  background-color: black;
}

.contact .c-right .social-box .text {
  width: 90%;
  height: 4.8vh;
  margin-left: 6%;
  border-radius: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact .c-right .social-box .text p {
  font-size: 1.8vh;
  color: white;
  margin-left: 4.2vw;
}

.contact .c-right .social-box img {
  height: 100%;
  width: 100%;
}

.contact .c-right .social-box .fb {
  border-color: #3C5A99;
  background-color: #3C5A99;
}

.x-html {
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0.5)), to(rgba(255, 193, 163, 0.5)));
  background: linear-gradient(90deg, rgba(250, 250, 250, 0.5), rgba(255, 193, 163, 0.5));
}

.x-html .progress {
  background-color: #FF651D;
}

.x-css {
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0.5)), to(rgba(163, 197, 255, 0.5)));
  background: linear-gradient(90deg, rgba(250, 250, 250, 0.5), rgba(163, 197, 255, 0.5));
}

.x-css .progress {
  background-color: #4075F2;
}

.x-js {
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0.5)), to(rgba(255, 240, 163, 0.5)));
  background: linear-gradient(90deg, rgba(250, 250, 250, 0.5), rgba(255, 240, 163, 0.5));
}

.x-js .progress {
  background-color: #FFC71B;
}

.x-react {
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0.5)), to(rgba(163, 243, 255, 0.5)));
  background: linear-gradient(90deg, rgba(250, 250, 250, 0.5), rgba(163, 243, 255, 0.5));
}

.x-react .progress {
  background-color: #61DAFB;
}

.x-boots {
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0.5)), to(rgba(194, 163, 255, 0.5)));
  background: linear-gradient(90deg, rgba(250, 250, 250, 0.5), rgba(194, 163, 255, 0.5));
}

.x-boots .progress {
  background-color: #7952B3;
}

.x-ui {
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0.5)), to(rgba(163, 255, 194, 0.5)));
  background: linear-gradient(90deg, rgba(250, 250, 250, 0.5), rgba(163, 255, 194, 0.5));
}

.x-ui .progress {
  background-color: #48BD7A;
}

.html-grow {
  -webkit-animation: html-grow 1.5s ease-in-out;
          animation: html-grow 1.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.css-grow {
  -webkit-animation: css-grow 1.5s ease-in-out;
          animation: css-grow 1.5s ease-in-out;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.js-grow {
  -webkit-animation: js-grow 1.5s ease-in-out;
          animation: js-grow 1.5s ease-in-out;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.react-grow {
  -webkit-animation: react-grow 1.5s ease-in-out;
          animation: react-grow 1.5s ease-in-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.boots-grow {
  -webkit-animation: boots-grow 1.5s ease-in-out;
          animation: boots-grow 1.5s ease-in-out;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.ui-grow {
  -webkit-animation: ui-grow 1.5s ease-in-out;
          animation: ui-grow 1.5s ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 1150px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 80vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works .mywork {
    min-width: 68vw;
  }
  .welcome .upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .welcome .profile-pic {
    margin-left: 0vw;
    margin-bottom: 10vh;
  }
  .welcome .profile-pic img {
    height: 105%;
  }
  .welcome .info {
    margin-right: 0vw;
    margin-left: 0vw;
  }
  .modal-det .modal-content {
    overflow-y: scroll;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .modal-det .modal-content i {
    position: fixed;
    top: 13vh;
    right: 13vw;
  }
  .modal-det .modal-content .exp-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .modal-det .modal-content .exp-container .exp-info {
    font-size: 1.8vh;
    margin-bottom: 2vh;
  }
  .modal-det .modal-content .exp-container .exp-info .exp-name {
    margin-bottom: 2vh;
    font-size: 2vh;
  }
}

@media screen and (max-width: 870px) {
  .bg {
    font-size: 40vw;
    top: -6vw;
    left: -10vw;
    font-weight: 600;
    z-index: 0;
  }
  .experience .experience-grid .info {
    width: 6vw;
  }
  .contact .c-right {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding-left: 10.2vw;
  }
  .contact .c-right > p {
    margin-top: -5vh;
  }
  .contact .c-right .social-box {
    width: 30vw;
  }
  .contact .c-right .social-box .text {
    width: 96%;
    margin-left: 0%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .c-right .social-box .text p {
    margin-left: 2.2vw;
  }
}

@media screen and (max-width: 760px) {
  .welcome header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .welcome header .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .welcome header .menu-button i {
    margin-bottom: -0.6vh;
    font-size: 1.8vh;
  }
  .welcome header .menu-button .i-flip {
    margin-bottom: -4.6vh;
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
    margin-top: 1vh;
  }
  .welcome header > i {
    display: none;
    margin-top: 10vh;
    font-size: 3vh;
    color: white;
    cursor: pointer;
  }
  .welcome header > a {
    font-size: 2.6vh;
    font-weight: 600;
    display: none;
    margin: 4vh;
  }
  .welcome header .js-socials {
    position: relative;
    right: 0vw;
    display: none;
    margin-top: 4vh;
  }
  .welcome .header-menu {
    z-index: 4;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #404040;
  }
  .experience .experience-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (13vh)[6];
        grid-template-rows: repeat(6, 13vh);
  }
  .experience .experience-grid .info {
    margin-right: 4vw;
  }
  .experience .xp-card .percentage-box {
    margin: 0vh 4vw;
  }
  .experience .probably {
    max-width: 80vw;
  }
  .about {
    padding-bottom: 25vh;
  }
  .about .about-text {
    width: 70vw;
    font-size: 2.3vh;
  }
  .work .categories {
    width: 90vw;
  }
  .work .categories .cat-1 {
    font-size: 1.8vh;
    font-weight: 500;
  }
  .work > p:nth-of-type(3) {
    max-width: 70%;
    text-align: center;
  }
  .work .divider-hr {
    width: 15vw;
  }
  .contact .both-sides {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .c-left {
    border-right: none;
    border-bottom: 1px solid #707070;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 6vh;
  }
  .contact .c-left .question {
    font-size: 1.9vh;
  }
  .contact .c-left .cta-text {
    font-size: 2.6vh;
  }
  .contact .c-right {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding-left: 0vw;
  }
  .contact .c-right > p {
    margin-top: 6vh;
  }
  .contact .c-right .social-box {
    width: 40vw;
  }
  .contact .c-right .social-box .text {
    width: 96%;
    margin-left: 0%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .c-right .social-box .text p {
    margin-left: 2.2vw;
  }
}

@media screen and (max-width: 660px) {
  .welcome .upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome .profile-pic {
    margin-left: 0vw;
  }
  .welcome .info {
    margin-right: 0vw;
    margin-left: 0vw;
  }
  .welcome .info p {
    font-size: 2.3vh;
  }
  .welcome .info p:nth-child(3) {
    margin-top: 4.2vh;
    font-size: 2.1vh;
  }
  .welcome .info h1 {
    font-size: 5.5vh;
    margin-top: 0%;
  }
  h2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0vw;
    margin-top: 20vh;
    z-index: 1;
  }
  .experience .experience-grid .info {
    width: 8vw;
  }
}
/*# sourceMappingURL=style.css.map */
